@font-face
{
	font-family : 'Noisy';
	src         : url('../fonts/Noisy.woff') format('woff');
	font-weight : normal;
	font-style  : normal;
}

[data-icon]:before,
.select:after,
.confirmation .delete-icon:before
{
	font-family             : 'Noisy';
	content                 : attr(data-icon);
	speak                   : none;
	font-style              : normal;
	font-weight             : normal;
	font-variant            : normal;
	text-transform          : none;
	line-height             : 1;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

[data-icon="w"]:before
{
	content       : '';
	display       : block;
	border-radius : 50%;
	width         : 1em;
	height        : 1em;
	border        : .25rem solid;
	margin        : auto;
	animation     : spin 1s infinite linear;
}

/* Special case for delete confirmation */
.confirmation .delete-icon:before
{
	content : 'o';
}

/*Common theme rules*/
a
{
	text-decoration : none;
}

.select select
{
	color : currentColor;
}

#battery-level-menu-handle:hover,
.menu-ul-li:hover,
[data-menulistener]:hover
{
	opacity : .6;
}

/*End of common theme rules*/
html,
body
{
	height : 100%;
}

body
{
	margin      : 0;
	padding     : 0;
	font-family : Tahoma;
	width       : 100%;
	min-width   : 800px;
}

.nav-ul-a,
.control-ul-a
{
	cursor    : default;
	padding   : 0 10px;
	font-size : 20px;
}

#header-left > div:first-child
{
	padding : .15em 0;
}

.nav-inputs-li
{
	cursor  : default;
	padding : 2px;
}

#header-left
{
	position  : relative;
	z-index   : 1;
	outline   : none;
	font-size : 32px;
}

#color-bulb
{
	padding   : 3px 7px;
	font-size : 22px;
}

#playlists-tabs
{
	margin  : 0;
	padding : 0;
}

.playlists-tabs-li
{
	cursor    : default;
	padding   : 2px 0 2px 5px;
	border    : 2px solid transparent;
	font-size : 16px;
	outline   : none;
}

.playlists-tabs-li:not(#add-playlist) > *
{
	margin-right : 5px;
}

.playlist
{
	flex : 1 1 auto;
}

.one-tab #playlists-tabs,
.one-tab [data-icon="#"]:last-child,
body:not(.one-tab) [data-icon="#"]:not(:last-child)
{
	display : none;
}

.one-tab #header-left
{
	font-size : 14px;
}

.one-tab #the-menu
{
	font-size : 16px;
}

.playlist-item
{
	overflow    : hidden;
	white-space : nowrap;
	font-size   : 16px;
	display     : flex;
}

#footer
{
	height      : 26px;
	padding     : 0 5px;
	line-height : 26px;
}

#footer-counter
{
	min-width    : 110px;
	height       : 100%;
	padding-left : 5px;
	text-align   : center;
}

.playlist-item,
#playlists-tabs,
#header,
#footer,
#window-title,
.no-selection
{
	cursor                : default;
	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	user-select           : none;
}

#window-backdrop
{
	position       : absolute;
	top            : 0;
	bottom         : 0;
	left           : 0;
	right          : 0;
	pointer-events : none;
}

.window
{
	z-index        : 0;
	pointer-events : all;
	width          : 600px;
	height         : 300px;
}

:root .preferences-item
{
	display     : block;
	padding     : 0 20px 0 5px;
	white-space : nowrap;
	width       : 100%;
	text-align  : left;
}

#preferences-container
{
	overflow-y : auto;
	position   : relative;
}

#preferences-container > div
{
	flex : 1 1 auto;
}

.window-title-span
{
	padding   : 4px 0 0 5px;
	font-size : 16px;
	flex      : 1 1 auto;
}

.window:not(#preferences-window) #preferences-window-title,
.window:not(#preferences-window) #preferences-window-content,
.window:not(#preferences-window) #preferences-window-buttons,
.window:not(#about-window) #about-window-title,
.window:not(#about-window) #about-window-content,
.window:not(#about-window) #about-window-buttons,
.window:not(#find-window) #find-window-title,
.window:not(#find-window) #find-window-content,
.window:not(#connect-window) #connect-window-title,
.window:not(#connect-window) #connect-window-content,
.window:not(#connect-window) #connect-window-buttons,
.window:not(#add-window) #add-window-title,
.window:not(#add-window):not(#save-playlist-window):not(#load-playlist-window):not(#save-preferences-window):not(#load-preferences-window) #add-window-content,
.window:not(#add-window) #add-window-buttons,
.window:not(#welcome-window) #welcome-window-title,
.window:not(#welcome-window) #welcome-window-content,
.window:not(#welcome-window) #welcome-window-buttons,
.window:not(#local-window) #local-window-title,
.window:not(#local-window) #local-window-content,
.window:not(#youtube-search-window) #youtube-search-window-title,
.window:not(#youtube-search-window) #youtube-search-window-content,
.window:not(#save-playlist-window) #save-playlist-window-title,
.window:not(#save-playlist-window) #save-playlist-window-buttons,
.window:not(#load-playlist-window) #load-playlist-window-title,
.window:not(#load-playlist-window) #load-playlist-window-buttons,
.window:not(#save-preferences-window) #save-preferences-window-title,
.window:not(#save-preferences-window) #save-preferences-window-buttons,
.window:not(#load-preferences-window) #load-preferences-window-title,
.window:not(#load-preferences-window) #load-preferences-window-buttons
{
	display : none;
}

#connect-window-content,
#preference-performance
{
	padding : 5px;
}

#preferences-window,
#welcome-window
{
	width  : 700px;
	height : 450px;
}

#connect-window
{
	width  : 400px;
	height : 230px;
}

#find-item
{
	width      : 100%;
	height     : 21px;
	margin-top : 3px;
}

button,
.button
{
	border    : 0;
	padding   : 4px 12px;
	font-size : 13px;
	outline   : none;
}

.link
{
	background : transparent;
	border     : 0;
	padding    : 0;
}

#init-search
{
	width      : 58px;
	height     : 21px;
	margin-top : 3px;
	font-size  : 15px;
}

#find-window-results
{
	overflow-y : auto;
}

#window-title
{
	height : 30px;
}

#window-close
{
	padding-right : 5px;
	font-size     : 22px;
}

#window-content
{
	height : calc(100% - 62px);
}

#window-content > div
{
	width    : 100%;
	position : relative;
}

#about-window #window-content,
#find-window #window-content,
#local-window #window-content,
#youtube-search-window #window-content
{
	height : calc(100% - 30px);
}

#window-buttons
{
	font-size : 16px;
}

.scroll-y
{
	overflow-y : auto;
}

.playback-options
{
	width   : 60px;
	display : flex;
}

.item-queue,
.playback-status,
.item-add-to-queue,
.item-remove-from-queue
{
	width      : 30px;
	text-align : center;
}

.playback-status[data-icon="w"]
{
	font-size : 20px;
}

.item-queue,
.playback-status
{
	font-size : 26px;
}

.item-queue:empty,
.selected .item-queue:empty
{
	display : none;
}

.item-add-to-queue,
.item-remove-from-queue
{
	display   : none;
	font-size : 27px;
}

.selected .item-queue
{
	display      : block;
	z-index      : 2;
	font-size    : 18px;
	padding-top  : 1px;
	padding-left : 5px;
	margin       : 0;
}

.item-title
{
	flex : 1 1 auto;
}

.item-title,
.item-duration,
.delete-icon
{
	padding : 7px 0;
}

.selected:not(.is-in-queue) .item-add-to-queue,
.selected.is-in-queue .item-remove-from-queue
{
	display : block;
}

.delete-icon
{
	outline   : none;
	margin    : 0 5px;
	width     : 16px;
	font-size : 0;
}

.selected .delete-icon
{
	font-size : 16px;
}

#volume
{
	width  : 60px;
	height : 26px;
}

#volume-progress,
#playback-progress
{
	width  : 0;
	height : 100%;
}

#progress
{
	position : relative;
	width    : 100%;
	height   : 26px;
}

#volume,
#progress
{
	margin : 2px 2px 0 0;
}

.select
{
	position : relative;
	display  : inline-block;
}

.select:after
{
	content        : 'a';
	right          : 10px;
	top            : 0;
	position       : absolute;
	pointer-events : none;
	line-height    : 26px;
}

.select select
{
	margin             : 0;
	border             : none;
	outline            : none;
	-webkit-appearance : none;
	-moz-appearance    : none;
	appearance         : none;
	padding            : 7px 30px 7px 7px;
}

.exists-text,
.invalid-text
{
	visibility : hidden;
	color      : red;
}

.exists .exists-text,
.invalid .invalid-text
{
	visibility : visible;
}

.va
{
	vertical-align : top;
}

.bold
{
	font-weight : bold;

}

.collapsed
{
	overflow : hidden;
	height   : 0;
}

details
{
	padding-left : 5px;
}

details p
{
	padding-left : 10px;
}

details ul
{
	margin-top : 0;
}

summary
{
	font-weight : bold;
}

input:required:invalid,
input:focus:invalid
{
	background : #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC) no-repeat right top;
	box-shadow : none;
}

input:required:valid
{
	background : #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=) no-repeat right top;
}

input[type="text"]
{
	border       : 0;
	padding-left : 5px;
	outline      : none;
}

input::-ms-clear
{
	display : none;
}

[contenteditable="true"]
{
	padding : 0 5px;
}

.inputs
{
	position : absolute;
	left     : 260px;
	right    : 5px;
	top      : 0;
}

.controls
{
	width        : 260px;
	height       : 31px;
	margin-right : 20px;
}

section:focus
{
	outline : 0;
}

.cloud-icon
{
	display  : inline-block;
	width    : 110px;
	height   : 110px;
	margin   : 65px 8px;
	position : relative;
}

.cloud-icon[title]:not(:hover)
{
	opacity : .2;
}

.local-icon,
.dropbox-icon,
.googledrive-icon
{
	margin     : 0 8px;
	text-align : center;
}

.local-icon
{
	display : none;
}

.local-icon .icon,
.dropbox-icon .icon,
.googledrive-icon .icon
{
	font-size : 90px;
}

#local-text,
#dropbox-text,
#google-drive-text
{
	font-size : 16px;
	position  : relative;
	top       : -18px;
}

#add-window .local-icon
{
	display : inline-block;
}

.playlist-edit
{
	font-size      : 11px;
	display        : inline-block;
	padding-top    : 4px;
	vertical-align : middle;
}

#clear-console
{
	font-size : 14px;
	color     : red;
}

#add-playlist
{
	width      : 25px;
	text-align : center;
	height     : 25px;
	font-size  : 20px;
	padding    : 0;
}

.center-vertically
{
	display        : inline-block;
	vertical-align : middle;
}

.favicon
{
	margin-right : 10px;
}

h4
{
	font-size : .83em;
}

h5
{
	font-size : 36px;
}

h4,
h5,
h6
{
	margin : 0;
}

.rotate90
{
	transform : rotate(90deg);
}

.rotate270
{
	transform : rotate(270deg);
}

#add-playlist-hint-icon
{
	display     : inline-block;
	margin-left : 12px;
}

#playlist-hints
{
	padding-left : 18px;
}

article + #playlist-hints
{
	display : none;
}

#search-playlist-hint-icon
{
	display      : inline-block;
	margin-right : 15px;
}

#the-menu
{
	font-size  : 36px;
	visibility : hidden;
	opacity    : 0;
	width      : 100%;
	z-index    : 2000;
	position   : absolute;
	background : inherit;
	padding    : 0;
	text-align : center;
	transition : visibility .3s linear;
}

#footer a
{
	font-weight : bold;
}

[data-menulistener]
{
	padding   : 0 7px;
	font-size : 27px;
}

[data-menulistener="showSearch"]
{
	font-size : 22px;
}

.menu-ul-li
{
	outline   : none;
	font-size : inherit;
}

.menu-ul-li:last-child
{
	margin-bottom : 2px;
}

#header-left:focus #the-menu
{
	visibility : visible;
	opacity    : 1;
}

.playlist-remove
{
	display : none;
}

.active .playlist-remove
{
	display : inline-block;
}

#find-window-results div[data-icon]
{
	display : none;
}

.donation
{
	text-align : center;
	margin     : 10px 10px 0 0;
}

#donation-form
{
	margin : auto;
	width  : 155px;
}

#footer-text
{
	margin-left : 2px;
	height      : 100%;
	padding     : 0 5px;
}

#translation-contributors
{
	margin-top : 2px;
	padding    : 5px;
}

#window-buttons > div
{
	padding : 4px;
}

#connected-table
{
	margin : 10px auto;
}

#connected-table tr td:first-child
{
	font-weight   : bold;
	padding-right : 5px;
	white-space   : nowrap;
}

#connected-table tr td:last-child
{
	width : 100%;
}

.border-box
{
	box-sizing : border-box;
}

.add-item
{
	padding : 1px 0 1px 5px;
}

.add-item:last-child
{
	margin-bottom : 5px;
}

.add-item span
{
	margin-right : 5px;
}

#about-heading-row
{
	margin : 17px 0 17px 17px;
}

#faq-title
{
	margin      : 0 0 5px 5px;
	font-weight : bold;
}

.preference-format-input
{
	margin-left : 5px;
}

#preferences-format-table
{
	margin     : 5px 0;
	text-align : right;
}

#preference-general-help,
#preference-language-help,
#preference-powersaver-help,
#preference-dev-channel-help
{
	cursor : help;
}

#preference-dev-channel-help
{
	position : relative;
	top      : 3px;
	left     : 0;
}

#preference-general-help
{
	font-weight : bold;
	margin-top  : 10px;
	display     : inline-block;
}

#preference-general,
#preference-appearance,
#preference-keyboard,
#welcome-window-content,
#local-window-content,
#youtube-search-window-content
{
	padding : 5px;
}

#console-content
{
	padding    : 0 5px;
	overflow-y : auto;
	height     : 87px;
	background : #000;
	color      : #fff;
}

.appearance-table-left
{
	text-align     : right;
	vertical-align : top;
	padding-right  : 5px;
}

#keyboard-shortcuts button:not(#shortcut-add)
{
	height      : 21px;
	padding-top : 0;
	font-size   : 18px;
	overflow    : hidden;
	display     : block;
}

#console-title
{
	padding-left : 5px;
}

#preference-language-help
{
	position : relative;
	top      : 3px;
	left     : 2px;
}

#local-files-form
{
	padding : 5px;
}

#drop-zone
{
	border     : 2px dashed;
	padding    : 25px;
	text-align : center;
	margin-top : 5px;
}

#file-input-methods
{
	margin     : 10px 0;
	text-align : center;
}

#main-menu-hint
{
	position : relative;
	top      : -20px;
	left     : 17px;
}

#main-menu-hint-icon
{
	font-size    : 26px;
	margin-right : 18px;
}

.visibility-hidden,
.window:not([id])
{
	opacity    : 0;
	visibility : hidden;
}

#preference-performance-notes
{
	margin-bottom : 10px;
}

#cancel-action
{
	margin-right : 3px;
	font-size    : 20px;
}

#loading-folder-contents
{
	position  : absolute;
	top       : 0;
	bottom    : 0;
	left      : 0;
	right     : 0;
	font-size : 72px;
}

.align-top
{
	vertical-align : top;
}

#about-resources,
#about-follow
{
	margin : 0 0 5px 5px;
}

#about-used-resources,
#about-follow-us
{
	font-weight : bold;
}

.slide-text
{
	font-size : 26px;
}

.slide-smaller-text
{
	font-size : 16px;
}

.welcome-slide
{
	position : absolute;
	top      : 0;
	left     : 0;
}

#welcome-slide-counter
{
	margin : 0 5px;
}

.confirm
{
	visibility : hidden;
	opacity    : 0;
	position   : absolute;
	top        : 0;
	left       : 0;
}

.confirmation .confirm
{
	visibility : visible;
	opacity    : 1;
}

.confirmation .hide-when-asking
{
	visibility : hidden;
	opacity    : 0;
}

#preference-performance-scrobbling-position,
#preference-performance-scrobbling-queued-tracks,
#preference-performance-powersaver-threshold
{
	margin-left : 25px;
}

#slideshow-video-placeholder
{
	width      : 690px;
	height     : 380px;
	position   : relative;
	background : #fff;
	cursor     : pointer;
	top        : 2px;
	left       : 5px;
}

#slideshow-video-play
{
	display     : block;
	font-size   : 72px;
	position    : absolute;
	top         : 50%;
	left        : 50%;
	margin-left : -36px;
	margin-top  : -36px;
	opacity     : .7;
}

#slideshow-video-play:hover
{
	opacity : 1;
}

.scrobble-action
{
	margin-left : 2px;
}

#battery-level-menu-handle
{
	width    : 2em;
	height   : 1.15em;
	margin   : .25em 0;
	position : relative;
}

.battery-level
{
	width        : 0;
	height       : 0;
	margin       : 2px auto;
	background   : currentColor;
	border-top   : .25em solid transparent;
	border-right : 1em solid transparent;
}

#battery-cap
{
	width      : .4em;
	height     : .2em;
	background : currentColor;
	position   : absolute;
	top        : .1em;
	left       : .8em;
	z-index    : -1;
}

#battery-level-menu-handle:not([title]) #battery-cap
{
	display : none;
}

.battery-level-green-full
{
	border-top-color   : #90ee90;
	border-right-color : #90ee90;
}

.battery-level-green-half
{
	border-top-color   : transparent;
	border-right-color : #90ee90;
}

.battery-level-orange-full
{
	border-top-color   : #ffb79a;
	border-right-color : #ffb79a;
}

.battery-level-orange-half
{
	border-top-color   : transparent;
	border-right-color : #ffb79a;
}

.battery-level-red-full
{
	border-top-color   : #ffa39c;
	border-right-color : #ffa39c;
}

.battery-level-red-half
{
	border-top-color   : transparent;
	border-right-color : #ffa39c;
}

#console-content div:last-child
{
	margin-bottom : 5px;
}

#add-window-buttons .window-buttons-text,
#load-playlist-window-buttons .window-buttons-text
{
	display : none;
}

#add-window-buttons > *,
#save-playlist-window-buttons > *,
#load-playlist-window-buttons > *,
#save-preferences-window-buttons > *,
#load-preferences-window-buttons > *
{
	margin-left : 3px;
}

.window.dropbox #add-window-buttons .window-buttons-text,
.window.dropbox #load-playlist-window-buttons .window-buttons-text
{
	display : inline;
}

.follow-link
{
	font-size   : 36px;
	margin-left : 3px;
}

#mark50
{
	position       : absolute;
	top            : 0;
	left           : 0;
	bottom         : 0;
	right          : 0;
	text-align     : center;
	font-size      : 18px;
	pointer-events : none;
}

#youtube-search-window-content
{
	background : #fff;
	min-height : calc(100% - 10px);
}

#youtube-search-window-content:empty:after
{
	content     : 'w';
	font-family : 'Noisy';
}

.youtube-item
{
	position : relative;
}

.youtube-item:hover
{
	background : whitesmoke;
}

.youtube-item-image-wrapper
{
	position : relative;
	display  : inline-block;
	margin   : 5px 20px 5px 5px;
	cursor   : pointer;
}

.youtube-item-image-wrapper:not(.youtube-embeded):hover:after
{
	font-family : 'Noisy';
	content     : 'x';
	position    : absolute;
	top         : 50%;
	left        : 50%;
	margin-top  : -16px;
	margin-left : -16px;
	font-size   : 32px;
	color       : #fff;
}

.youtube-item-name
{
	display     : inline-block;
	font-weight : bold;
	font-size   : 20px;
	margin-top  : 7px;
}

.youtube-item-url
{
	color     : #00f;
	font-size : 14px;
}

.youtube-item-description
{
	display     : inline-block;
	width       : calc(100% - 270px);
	font-size   : 10px;
	line-height : 10px;
}

.youtube-share-container
{
	position   : absolute;
	top        : 50%;
	right      : 0;
	margin-top : -24px;
	font-size  : 40px;
	opacity    : .05;
}

.youtube-item:hover .youtube-share-container
{
	opacity : 1;
}

.youtube-item-share-icon
{
	background : transparent;
	color      : #666;
	margin     : 0 5px;
	font-size  : 40px;
	cursor     : pointer;
	padding    : 0;
}

.flex,
.flex-column
{
	display : -ms-flexbox;
	display : -webkit-flex;
	display : flex;
}

.flex-column
{
	-ms-flex-direction : column;
	flex-direction     : column;
}

.flex-item-full
{
	flex : 1 1 auto;
}

[hidden]
{
	display : none !important;
}

.relative
{
	position : relative;
}

#add-window-files:empty
{
	display : none;
}

i
{
	font-style : normal;
}